{% load i18n %}
<div class="detail">
<h2>{{occurrence.title}}</h2>
<dl class="event">
<dt>{% trans "Starts" %}</dt>
<dd>{{ occurrence.start|date:_("DATETIME_FORMAT") }}</dd>
<dt>{% trans "Ends" %}</dt>
<dd>{{ occurrence.end|date:_("DATETIME_FORMAT") }}</dd>
{% if occurrence.event.rule %}{% if not occurrence.id %}
<dt>{% trans "Reoccurs" %}</dt>
<dd>{{occurrence.event.rule}}
{% if occurrence.event.end_recurring_period %}
{% trans "Until" %} {{ occurrence.end|date:_("DATETIME_FORMAT") }}
{% endif %}
</dd>
{% endif %}{% endif %}
</dl>
{% if occurrence.description %}
<h3>{% trans "Description" %}</h3>
<p>{{occurrence.description|urlize}}</p>
{% endif %}
</div>
