{% extends "schedule/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Available Calendars" %}{% endblock %}
{% block body %}
<h2>{% trans "Available Calendars" %}</h2>
<dl class="calendar_list">
{% for cal in object_list %}
<dt>{{ cal }}</dt>
<dd><a href="{% url compact_calendar cal.slug %}">{% trans "Small Month" %}</a></dd>
<dd><a href="{% url month_calendar cal.slug %}">{% trans "1 Month" %}</a></dd>
<dd><a href="{% url tri_month_calendar cal.slug %}">{% trans "3 Months" %}</a></dd>
<dd><a href="{% url year_calendar cal.slug %}">{% trans "This Year" %}</a></dd>
<dd><a href="{% url week_calendar cal.slug %}">{% trans "Weekly" %}</a></dd>
<dd><a href="{% url day_calendar cal.slug %}">{% trans "Daily" %}</a></dd>
<dd><a href="/schedule/feed/calendar/upcoming/{{ cal.id }}/">{% trans "Feed" %}</a></dd>
{% endfor %}
</dl>
{% endblock %}
