{% extends "schedule/base.html" %}
{% load i18n %}
{% load scheduletags %}

{% block body %}
<div class="event_actions centered">
  {% if back_url %}
  <a href="{{ back_url }}">
    <img border="0" src="{{ MEDIA_URL }}schedule/img/left_mod.png" alt="{% trans "Back" %}"/>
  </a>
  &nbsp;
  {% endif %}
  <a href="{% url edit_event event.calendar.slug,event.id %}">
    <img border="0" src="{{ MEDIA_URL }}schedule/img/pencil.png" alt="{% trans "Change" %}"/>
  </a>
  &nbsp;
  <a href="{% url delete_event event.id %}">
    <img border="0" src="{{ MEDIA_URL }}schedule/img/delete.png" alt="{% trans "Delete" %}"/>
  </a>
</div>
<h2 class="centered">{{event.title}}</h2>
<dl class="event">
	<dt>{% trans "Starts" %}</dt>
	<dd>{{ event.start|date:_("DATETIME_FORMAT") }}</dd>
	<dt>{% trans "Ends" %}</dt>
	<dd>{{ event.end|date:_("DATETIME_FORMAT") }}</dd>
	{% if event.rule %}
	<dt>{% trans "Reoccurs" %}</dt>
	<dd>{{ event.rule }} {% trans "until" %} {{ event.end_recurring_period|date:_("DATETIME_FORMAT") }}</dd>
{% endif %}
</dl>
{% if event.description %}
<h3>{% trans "Description" %}</h3>
<p>{{event.description}}</p>
{% endif %}

{% endblock %}

{% block navigation %}
<li>
    <a href="{% url day_calendar event.calendar.slug %}{% querystring_for_date event.start 3 %}">{% trans "Day" %}</a>
</li>
<li>
    <a href="{% url month_calendar event.calendar.slug %}{% querystring_for_date event.start 2 %}">{% trans "Month" %}</a>
</li>
<li>
    <a href="{% url year_calendar event.calendar.slug %}{% querystring_for_date event.start 1%}">{% trans "Year" %}</a>
</li>
{% endblock %}
